body{

    height: 1400px;
    background: #0047b3; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, #005ce6, #3385ff, #cce0ff, #e6f0ff); /* Standard syntax (must be last) */ 
}
header{
    margin: 0;
}
.titulo h1{
    position: relative;
    text-align: center;
    font-family: 'Bungee Inline', cursive;
    font-size: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #ff9933;
}

.navbar-logo{
  display: inline-block;
  vertical-align: middle;
  width: 150px;
}
.navbar-logo img{
 
  width: 100%;
  height: auto;
}


img{
  margin-top: -180px;
  left:150px;
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

.contenido{
  height: 70%;
  width: 98.5%;
  background-color: #fff;
  position: absolute;
  border-style: dotted;
  border-width: 2px;
}


#estructura{
    margin-top: 150px;
    width: 40% ;
    position: relative;
}
.parrafo{
    position: relative;
    margin-bottom: -100px;
  
}
footer{
border-style: dotted;
    border-width: 2px;
 background-color: #fff;
  
}